<div class="page-header">
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href=".">Amazing news</a>

        <form class="form-inline news-search">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-search"></i></span>  
                </div>
                <input class="form-control" type="search" placeholder="Search">
            </div>
        </form>

        <form class="form-inline user-account">
            <button class="btn btn-dark">{{nameinitial}}</button>
        </form>
    </nav>
</div>