.flex-container {
    display: flex;
    width: 50%;
    border-radius: 25px;
    flex-direction: column;
    background-color: DodgerBlue;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    border-radius: 25px;
    border: 2px solid #73AD21;
  }

  a{
      font-size: large;
  }

  p{
      font-size: small;
  }