<div class="flex-container">
    <div *ngFor="let article of articles">
        <div class="news-head" (click)="clickedOnArticle(article)">
            <a [href]='article.url'>{{article.title}}</a> 
            <p>
                <span *ngIf="article.author">Author : {{article.author}}&nbsp;&nbsp;</span> 
                <span>Published at : {{article.publishedAt}}</span>
            </p>
        </div>  
        <p class="news-description">
            {{article.description}}
        </p>
    </div>
</div>